<!DOCTYPE html>
<html>
<head>
  <title>Try2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="user_header">
      <% if current_user %>
          Logged in
          <%= link_to "Logout", session_path("AS"), method: :delete %>
      <% else %>
        <%= link_to 'Sign Up', new_user_path %> or
        <%= link_to 'Log In', new_session_path %><br>
      <% end %>
    </div>
  </div>
<%= yield %>

</body>
</html>
